<div [@dialog] class="page">
  <div class="page-container-full" >
    <div class="table-container">


      <div class="pane-button">
        <button mat-icon-button="">
          <i class="fa fa-lg fa-search"  matTooltip="Cari" [matTooltipPosition]="position_tooltip"></i>
        </button>
        <button mat-icon-button="">
          <i class="fa fa-lg fa-refresh"  matTooltip="Refresh" [matTooltipPosition]="position_tooltip"></i>
        </button>
        <button mat-icon-button=""  matTooltip="Baru" (click)="openFormGaji()" [matTooltipPosition]="position_tooltip">
          <i class="fa fa-lg fa-plus"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<app-mymodal [(visiblekah)]="showformadd" [(mclass)]="classmodal" >
  <div class="dialog-form" style="max-width:650px;">
    <mat-toolbar color="primary" style="height: 32px; padding-left: 2px; padding-right: 2px">
      <h5>
        <i class=" ml-2 mr-1 fa fa-user-plus"></i>&nbsp;Add Gaji</h5>
      <span class="toolbar-spacer"></span>
      <button mat-icon-button="" class="pull-right" (click)="batal()">
        <i class="fa fa-close"></i>
      </button>
    </mat-toolbar>


    <div class="dialog-form-container">
          <mat-tab-group >
            <mat-tab label="Karyawan Tetap" [formGroup]="formgajitetap">
              <div style="max-height: 650px" class="m-3">

                  <div class="form-row">
                    <div class="input-group mb-3 ml-3 mr-3">
                      <input type="number" class="form-control form-control-lg" formControlName="carinik" placeholder="Cari nik">
                      <div class="input-group-append">
                        <button type="button" class="btn btn-outline-secondary" (click)="caridatakaryawan(formgajitetap.value.carinik)"><i class="fa fa-search"></i></button>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <label for="nik">Nik</label>
                      <input type="text" class="form-control form-control-lg mb-1" id="nik" formControlName="nik"  readonly required>
                      <label for="nama">Nama</label>
                      <input type="text" class="form-control form-control-lg mb-1" id="nama"  formControlName="nama" readonly required>
                      <label for="jabatan">Jabatan</label>
                      <input type="text" class="form-control form-control-lg mb-1" id="jabatan" formControlName="jabatan"  readonly required>
                      <div class="form-row">
                        <div class="col-md-2">
                          <label for="sts">Status</label>
                          <input type="text" class="form-control form-control-lg mb-1" id="sts"  formControlName="sts" readonly required>
                        </div>
                        <div class="col-md-2">
                          <label for="pendidikan">Pendi</label>
                          <input type="text" class="form-control form-control-lg mb-1" id="pendidikan"  formControlName="pendidikan" readonly required>
                        </div>
                        <div class="col-md-2">
                          <label for="gol">Gol</label>
                          <input type="text" class="form-control form-control-lg mb-1" id="gol" formControlName="gol"  readonly required>
                        </div>
                        <div class="col-md-3">
                          <label for="masakerja">Masa Kerja</label>
                              <input type="text" class="form-control form-control-lg  mb-1" aria-label="Small" id="masakerja"
                                     formControlName="masakerja" readonly required>
                        </div>

                      </div>





                    </div>
                    <div class="col-md-6">
                      <div class="form-row">
                        <div class="col-md-6">
                          <label for="gapok">Gaji Pokok</label>
                          <input type="text" class="form-control form-control-lg mb-1" id="gapok" placeholder="Gaji Pokok"
                                 myCurrencyFormatter formControlName="gapok" (input)="hitgaji(formgajitetap.value.gapok)" required>
                          <label for="tjistri">Tunjangan Istri</label>
                          <input type="text" class="form-control form-control-lg mb-1" id="tjistri"
                                 placeholder="Tunjangan Istri" [value]="tjistri"
                                 formControlName="tjistri"
                                 myCurrencyFormatter readonly required>
                          <label for="tjanak">Tunjangan Anak</label>
                          <input type="text"
                                 class="form-control form-control-lg mb-1" myCurrencyFormatter
                                 [value]="tjanak"
                                 formControlName="tjanak"
                                 placeholder="Tunjangan Anak"
                                 id="tjanak" readonly
                          >
                          <label for="tjjabatan">Tunjangan Jabatan</label>
                          <input type="text"
                                 class="form-control form-control-lg mb-1" myCurrencyFormatter
                                 formControlName="tjjabatan"
                                 placeholder="Tunjangan Jabatan"
                                 id="tjjabatan"
                          >
                          <label for="tjkesehatan">Tunjangan Kesehatan</label>
                          <input type="text"
                                 class="form-control form-control-lg mb-1" myCurrencyFormatter
                                 formControlName="tjkesehatan"
                                 placeholder="Tunjangan Kesehatan"
                                 id="tjkesehatan" readonly
                          >
                        </div>
                        <div class="col-md-6">
                          <label for="tjkhusus">Tunjangan Khusus</label>
                          <input type="text"
                                 class="form-control form-control-lg mb-1" myCurrencyFormatter
                                 formControlName="tjkhusus"
                                 placeholder="Tunjangan Khusus"
                                 id="tjkhusus" readonly
                          >
                          <label for="tjtrans">Tunjangan Transport</label>
                          <input type="text"
                                 class="form-control form-control-lg mb-1" myCurrencyFormatter
                                 formControlName="tjtrans"
                                 placeholder="Tunjangan Transport"
                                 id="tjtrans" readonly
                          >
                          <label for="tjprlihan">Tunjangan Peralihan</label>
                          <input type="text"
                                 class="form-control form-control-lg mb-1" myCurrencyFormatter
                                 formControlName="tjprlihan"
                                 placeholder="Tunjangan Peralihan"
                                 id="tjprlihan" readonly
                          >
                          <label for="tjpangan">Tunjangan Pangan</label>
                          <input type="text"
                                 class="form-control form-control-lg mb-1" myCurrencyFormatter
                                 formControlName="tjpangan"
                                 placeholder="Tunjangan Pangan"
                                 id="tjpangan" readonly
                          >
                          <label for="tjpengab">Tunjangan Pengabdian</label>
                          <input type="text"
                                 class="form-control form-control-lg mb-1" myCurrencyFormatter
                                 formControlName="tjpengab"
                                 placeholder="Tunjangan Pengabdian"
                                 id="tjpengab" readonly
                          >
                          <label for="tht">Tunjangan Hari Tua</label>
                          <input type="text"
                                 class="form-control form-control-lg mb-1" myCurrencyFormatter
                                 formControlName="tht"
                                 placeholder="Tunjangan Hari Tua"
                                 id="tht" readonly
                          >
                        </div>
                      </div>

                    </div>

                  </div>
                  <button class="btn btn-primary" type="submit">Submit form</button>



                </div>



            </mat-tab>

            <mat-tab label="Honorer">
              <div >
                <mat-list>
                  <mat-list-item>Iuran THT</mat-list-item>
                  <mat-list-item>PPh Pasal 21</mat-list-item>
                  <mat-list-item>Pinjaman Karyawan</mat-list-item>
                  <mat-list-item>Jamsostek Pensiun</mat-list-item>
                  <mat-list-item>Jamsostek Ketenagakerjaan</mat-list-item>
                  <mat-list-item>BPJS Kesehatan</mat-list-item>
                </mat-list>
              </div>
              <mat-toolbar>
                <button mat-icon-button >
                  <i class="fa fa-lg fa-plus"></i>
                </button>
              </mat-toolbar>
            </mat-tab>
          </mat-tab-group>

    </div>



  </div>

</app-mymodal>
