/***************Modal *****************/

//.cmodal {
  //display: block; /* Hidden by default */
  //position: absolute; /* Stay in place */
  //z-index: 1; /* Sit on top */
  //left: 0px;
  //top: 64px;
  //width: 100%; /* Full width */
  //overflow: auto; /* Enable scroll if needed */
  //min-width: 350px;
  //height: 82%;
  //background: rgba(222, 184, 135, 0.06);

//}


.cmodal {
  /* display: block; */
  position: fixed;
  z-index: 1;
  left: 0px;
  top: 64px;
  width: 100%;
  overflow: auto;
  min-width: 350px;
  height: 82%;
  margin: auto;
  align-items: center;
  flex-direction: column;
  transform-origin: center center;
  display: flex;

}


@media screen and (max-width: 768px) {


}

